<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot Password</title>
    <style>
        .outerContainer {
            width: 100%;
            background-color: #e61b23;
            background-image: none;
            background-repeat: repeat;
            background-position: top left;
            background-attachment: scroll;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 0;
            padding-left: 0;
            margin-top: 0;
            margin-bottom: 0;
            margin-right: 0;
            margin-left: 0;

        }

        .card {
            border-radius: 3px;
            font-size: 16px;
            color: #2f2936;
            max-width: 600px;
            font-family: Arial, sans-serif;
            border-width: 1px;
            border-style: solid;
            border-color: #e61b23;
            padding-top: 0;
            padding-bottom: 0;
            padding-right: 0;
            padding-left: 0;
            width: 100%;
            font-weight: 300;
            margin-top: 30px;
            margin-bottom: 30px;
            margin-right: auto;
            margin-left: auto;
            background-color: #fff;
        }

        .innerContainer {
            padding: 40px;
        }
    </style>
</head>

<body>
    <div class="outerContainer">
        <div class="card">
            <div class="innerContainer">
                {{{body}}}
            </div>
        </div>
    </div>
</body>

</html>