<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot Password</title>
    <style>
        .outerContainer {
            background-color: #e61b23;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .card {
            background-color: #fff;
            box-shadow: 10px 5px 5px #ba1a1f;
            display: flex;
            flex-direction: column;
        }

        .innerContainer {
            padding: 40px;
        }
    </style>
</head>

<body>
    <div class="outerContainer">
        <div class="card">
            <div class="innerContainer">
                {{{body}}}
            </div>
        </div>
    </div>
</body>

</html>