<h1>
    Olá {{name}}, tudo bem?
</h1>
<p>
    Parece que você solicitou uma recuperação de senha,
    clique no link a seguir para continuar com o processo:

    <a href="{{front_url}}/reset/password/{{token}}">Clique aqui</a>
</p>
<p>
    Sinta-se a vontade para responder esse email.
    E se você não pediu a recuperação de senha, apenas ignore esse email
</p>