.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, blue, white, #e61b23);
}

.input-container {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
